#
# Add packages here to install them using:
#   pip install -r requirements.txt
#

bumpversion
coverage
coveralls
invoke
networkx
numpy
pytest
pytest-cov
pytest-flakes
scipy
sphinx
sphinxcontrib-napoleon
wheel>=0.23.0
